<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>

<#

#>
using Microsoft.VisualStudio.TestTools.UnitTesting;
namespace MultiTesting01
{
<# for (int j=0; j<500; j++)
{ #>
[TestClass]
public class MSTest<#=j#>
{
   
<#
for (int i=0;i<20;i++)
{
    #>
      [TestMethod]
      public void Test<#=i#>()
      {
          Assert.AreEqual(<#=i#>,<#=i#>);
      }
    <#

}
#>
}  // Class
<#
}  
#>
}  // Namespace
<#
#>
